
.icon-mail:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-flash:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
